html
  link(rel='stylesheet', href='/card.css')
  head
    title= title
  body
    .titulo
      DIV EL PRODUCTO
    .container3
      .card
        .imgholder   
          img(src=img)
        h1#id= id
        h1= title
        h1= price
        .attribution
        p=nombre
      #panel
      
        button#btn1 Crear
         
        button#btn1 Modificar
       
        button#btn2 Borrar
        
        button#btn3 Cancelar
        script(type='text/javascript', src='/modify.js')
        
        
    
 
  