html
  link(rel='stylesheet', href='/card.css')
   
  
  head
    title= title 
  body
    .container2
      each datum in data
        .card
          imgholder   
            img(src=datum.url)
          h1= datum.id
          h1= datum.title
          h1= datum.price
     
      
    
 
  