html
  link(rel='stylesheet', href='/card.css')
  head
    title= title
  body
    .titulo
      DIV EL PRODUCTO
    .container3
      .card
        .imgholder   
          img(src=img)
        h1= id
        h1= title
        h1= price
        .attribution
        p=nombre
      #panel
        #btn1 
        button Modificar
        #btn2
        button Borrar
        #btn3
        button Cancelar
        script(type='text/javascript', src='/modify.js')
        
        
    
 
  