html
  link(rel='stylesheet', href='./card.css')
  head
    title= title
  body
    .container
      .card
        .imgholder   
          img(src=img)
        h1= id
        h1= title
        h1= price
      .attribution
        h3=nombre
      
    
 
  